<div class="flex-1 max-w-screen-md w-full mx-auto px-4 py-6 flex flex-col gap-6">
 @if (authUser$ | async; as authUser) {
  <div>Hello, {{ authUser.userName }}!</div>
 }
 <div>
  <div>
    Your Linked Expenditures
  </div>
  <div>
    <a href="/expenditure/create">Create Expenditure</a>
  </div>
 </div>
 @if (expenditures$ | async; as expenditures) {
   <div>
    @if (expenditures.length > 0) {
      @for (expenditure of expenditures; track $index) {
        <a [href]="generateUrlForExpenditure(expenditure)">{{ expenditure.expenditureName }}</a>
      }
    } @else {
      <div>
        Looks like you don't have an expenditure yet.
      </div>
    }
   </div>
 }
 <app-paypal-login></app-paypal-login>
</div>