
<div [formGroup]="form">
  <!-- <div>You owe {{ user.userName }} {{ payment[user.userName].toFixed(2).replace('-', '') }}</div> -->
  <table formArrayName="settlePayment" class="font-roboto">
    <tr>
      <th>Expense Name</th>
      <th>Total Cost</th>
      <th>Who paid...</th>
      <th>You owe...</th>
      <th>Settle</th>
    </tr>
    @for (control of settlePayment.controls; track $index) {
      <tr>
        <td class="py-4">{{ expenses[$index].expenseName }}</td>
        <td class="py-4">{{ expenses[$index].totalCost }}</td>
        <td class="py-4"><app-profile-picture [username]="expenses[$index].expenseOwner.userName"></app-profile-picture></td>
        <td class="py-4">
          <ul>
            <li> {{expenses[$index].expenseSplit[user.userName]}} </li>
          </ul>
        </td>
        <td>
          <input type="checkbox" name="" [id]="$index" [formControlName]="$index">
        </td>
      </tr>
    }
  </table>
  <button type="button">Settle Payment</button>
</div>
