
<div class="bg-gradient-to-r from-pink-500 from-10% to-yellow-500 shadow-2xl shadow-slate-800 rounded-md max-w-screen-md w-full top-12 left-2/4 -translate-x-1/2 p-1 z-50 fixed">
  <div class="bg-slate-800 p-10 rounded-md">
    <h3 class="text-2xl font-oswald">
      Expense Details
    </h3>
    <div>
      <form [formGroup]="form" action="">
        <div class="py-4 grid grid-cols-1 sm:grid-cols-2 gap-4 content-center">
          <div class="flex flex-col gap-2">
            <label for="expense-name" class="text-slate-200">Expense title</label>
            <input type="text" 
              class="bg-slate-700 py-2 pl-2 rounded-sm" 
              name="expense-name" 
              id="expense-name" 
              placeholder="Seafood at Bikini Bottom" 
              formControlName="expenseName">
          </div>
          <div class="flex flex-col gap-2">
            <label for="expense-cost">Amount</label>
            <div>
              <span class="pr-2">{{ currency }}</span>
              <input 
                type="number" 
                class="bg-slate-700 py-2 pl-2 rounded-sm w-28" 
                name="expense-cost" 
                id="expense-cost" 
                formControlName="totalCost">
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-2xl font-oswald">
            Participants involved
            <div class="text-sm pt-2 text-slate-400 font-roboto">Who was involved in the expense?</div>
          </h3>
          <div formArrayName="costIncurred">
            <ul>
              @for (control of costIncurred; track $index) {
                <li [formGroup]="control" class="flex h-14 justify-between items-center py-2">
                  <div class="flex items-center">
                    <input 
                      class="accent-amber-400" 
                      type="checkbox"
                      (click)="toggle(control)"
                      [formControlName]="'checked'"
                      [id]="usersList[$index].userId">
                    <label class="pl-2" [for]="usersList[$index].userId">{{ usersList[$index].userName }}</label>
                  </div>
                  @if (!isSplitEven) {
                    <div>
                      <span class="pr-2">{{currency}}</span>
                      <input 
                        class="bg-slate-700 w-24 py-1 pl-2 rounded-sm disabled:bg-slate-900" 
                        type="number"
                        [formControlName]="'cost'">
                    </div>
                  }
                </li>
              }
            </ul>
            <div class="bg-slate-700 flex gap-2 max-w-fit p-2 my-3 rounded-sm">
              <button 
                type="button" 
                class="p-2 rounded-sm" 
                (click)="toggleIsSplitEven()" 
                [class.bg-amber-500]="isSplitEven" 
                [class.text-amber-50]="isSplitEven">
                Split Evenly
              </button>
              <button 
                type="button" 
                class="p-2 rounded-sm" 
                (click)="toggleIsSplitEven()" 
                [class.bg-amber-500]="!isSplitEven" 
                [class.text-amber-50]="!isSplitEven">
                Custom Amount
              </button>
            </div>
          </div>
        </div>
      </form>
      <button 
        [disabled]="!form.valid" 
        type="button" 
        class="mt-4 font-roboto font-bold bg-gradient-to-r p-3 from-pink-500 from-10% to-yellow-500 rounded-md" 
        (click)="handleSubmit()">
        Create Expense
      </button>
    </div>
  </div>
</div>