<div class="modal">
  <form [formGroup]="form" action="">
    <div>
      <input type="text" class="bg-slate-600" name="expense-name" id="expense-name" placeholder="Name your expense" formControlName="expenseName">
    </div>
    <div>
      <label for="expense-cost">Total Cost: </label>
      <input type="number" class="bg-slate-600" name="expense-cost" id="expense-cost" formControlName="totalCost">
    </div>
    <div>
      How do you want to split?
    </div>
    <div>
      @for (split of splitMethods; track $index) {
        <label [for]="split">{{ split }}</label>
        <input type="radio" name="split-methods" [id]="split" (click)="handleSplitMethod(split)" >
      }
    </div>
    <div>
      <table formArrayName="costIncurred">
        @for (control of costIncurred.controls; track $index) {
          <tr>
            <td>{{ usersInvolvedList[$index].userName }}</td>
            <td><input class="bg-slate-600 w-24" type="number" [formControlName]="$index"></td>
          </tr>
        }
      </table>
    </div>
    <button type="button" (click)="handleSubmit()" >Testing</button>
  </form>
</div>
