<div class="flex-1 max-w-screen-md w-full mx-auto px-4 py-6 flex flex-col gap-6">
  <h1 class="text-4xl text-slate-300 font-oswald">Register</h1>
  <form class="bg-slate-800 rounded-md grid grid-cols-2 gap-4" action="" [formGroup]="form">
    <div class="p-4 flex flex-col gap-2">
      <div class="text-2xl font-bold font-oswald pb-2">
        User Information
      </div>
      <div class="flex flex-col gap-2">
        <label for="username" class="text-slate-200">
          Username
        </label>
        <input type="text" name="username" id="username" class="bg-inherit border-b border-slate-500 font-roboto" formControlName="username">
        @if (username.touched && username.errors?.['required']) {
          <div class="text-rose-400 font-light">
            Your username is required!
          </div>
        }
        @if (username.touched && username.errors?.['pattern']) {
          <div class="text-rose-400 font-light">
            Only alphanumeric letters are allowed.
          </div>
        }
      </div>
      <div class="flex flex-col gap-2">
        <label for="password" class="text-slate-200">
          Password
        </label>
        <input type="password" name="password" id="password" class="bg-inherit border-b border-slate-500 font-roboto" formControlName="password">
        @if (password.touched && password.errors?.['required']) {
          <div class="text-rose-400 font-light">
            Password is required!
          </div>
        }
      </div>
      <div class="flex flex-col gap-2">
        <label for="email" class="text-slate-200">
          Email
        </label>
        <input type="text" name="email" id="email" class="bg-inherit border-b border-slate-500 font-roboto" formControlName="email">
        @if (email.touched && email.errors?.['required']) {
          <div class="text-rose-400 font-light">
            E-mail is required!
          </div>
        }
        @if (email.touched && email.errors?.['email']) {
          <div class="text-rose-400 font-light">
            Invalid e-mail format.
          </div>
        }
      </div>
      <button type="submit" [disabled]="!form.valid" class="mt-5 font-roboto rounded-md font-bold bg-gradient-to-r from-pink-500 from-10% to-yellow-500 w-40 h-12" (click)="handleOnRegister()">
        <div>
          Register
        </div>
      </button>
    </div>
    <div class="box-border">
      <img src="../../../assets/day5-vault.png" alt="" srcset="">
    </div>
  </form>
</div>